#DB
POSTGRES_DB=XXX
POSTGRES_USER=XXX
POSTGRES_PASSWORD=XXX

#OAuth
GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback/google

FORTYTWO_CLIENT_ID=XXX
FORTYTWO_CLIENT_SECRET=XXX
FORTYTWO_REDIRECT_URI=http://localhost:5173/auth/callback/42

# Brevo SMTP Configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_login
SMTP_PASS=your_brevo_smtp_password
SMTP_FROM=noreply@hypertube.com
FRONTEND_URL=http://localhost:5173 # URL for the reset link in the email

VITE_TMDB_API_KEY=XXXX