# HTTP to HTTPS redirect (automatic with Caddy, but explicit for clarity)

# Use localhost with automatic self-signed certificates
localhost {

    # backend
    handle /api/* {
        reverse_proxy api-express:3000
    }
    # frontend
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
